services:
  # MongoDB
  mongo-db:
    container_name: bookstore-db_mongo
    image: mongo:5.0
    restart: always
    env_file: .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DATABASE_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}

    ports:
      - ${MONGO_PORT}:27017
    networks:
      - bookstore-network
    volumes:
      - ./database/shop.js:/docker-entrypoint-initdb.d/shop.js:ro

networks:
  bookstore-network:
    driver: bridge